<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Details</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {{>header}}
      <div class="table-responsive"> 
    <table class="table table-sm container">
        <thead class="thead-dark">
            <tr>
                <th scope="col">S. No</th>
                <th scope="col">Name</th>
                <th scope="col">Email Id</th>
                <th scope="col">Balance</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{serial @index}}</td>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.balance}}</td>
                <td><a class="btn btn-secondary" href="/customer/{{this.id}}" role="button">View</a></td>
            </tr> 
            {{/each}}
        </tbody>
    </table>
    </div> 
</body>
</html>